h1 {
  font-weight: bold;
  line-height: 1;
  font-size: toRem(40);

  @include mq(md) {
    font-size: toRem(46);
  }
  @include mq(xl) {
    font-size: toRem(60);
  }
}

h2 {
  font-weight: bold;
  line-height: 1;
  font-size: toRem(26);

  @include mq(md) {
    font-size: toRem(32);
  }
  @include mq(xl) {
    font-size: toRem(40);
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}