/* color palette from <https://github.com/vuejs/theme> */
:root {
    --color-primary: #FF782D;
    --color-primary-pressed: #F8620E;
    --color-secondary: #FFAB2D;
    --color-success: #55BE24;
    --color-danger: #F51A1A;
    --color-info: #2580D5;
    --color-white-700: #999999;
    --color-white-600: #AAAAAA;
    --color-white-500: #BBBBBB;
    --color-white-400: #CCCCCC;
    --color-white-300: #DDDDDD;
    --color-white-200: #EEEEEE;
    --color-white-100: #FFFFFF;

    --color-black-100: #888888;
    --color-black-200: #777777;
    --color-black-300: #666666;
    --color-black-400: #555555;
    --color-black-500: #444444;
    --color-black-600: #333333;
    --color-black-700: #222222;
    --color-black-800: #111111;
    --color-black-900: #000000;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--color-white-100);
    }
}

