@import 'base.css';
@import "fonts.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    background: var(--color-background);
    line-height: 1.6;
    font-family: Satoshi, sans-serif;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    color: inherit;
}

.max-content {
    padding: 0 1rem;
    @media screen and (min-width: 600px) {
        padding: 0 2rem;
    }
    @media screen and (min-width: 1328px) {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
    }
}

#app {
    max-width: 1920px;
    font-weight: normal;
    @media screen and (min-width: 1920px) {
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }
}
