$icomoon-font-family: 'eduPress' !default;
$icomoon-font-path: '/public/assets/fonts/font-icons' !default;

$icons-score: '\e968';
$icons-speaker: '\e95c';
$icons-key: '\e95e';
$icons-social-instagram: '\e95b';
$icons-activity: '\e956';
$icons-category: '\e958';
$icons-play: '\e959';
$icons-alert: '\e94e';
$icons-check: '\e94f';
$icons-clock: '\e950';
$icons-refresh: '\e951';
$icons-close: '\e952';
$icons-search: '\e953';
$icons-smile: '\e954';
$icons-minimize: '\e955';
$icons-upload: '\e944';
$icons-align-left: '\e945';
$icons-align-right: '\e946';
$icons-align-center: '\e947';
$icons-align-justify: '\e948';
$icons-stroke-on: '\e949';
$icons-underline: '\e94a';
$icons-chevron-down: '\e905';
$icons-chevron-left: '\e906';
$icons-chevron-right: '\e907';
$icons-chevron-up: '\e908';
$icons-edit: '\e90d';
$icons-follow: '\e911';
$icons-fullscreen: '\e912';
$icons-globe: '\e913';
$icons-header-profile: '\e918';
$icons-header-tweet: '\e919';
$icons-home: '\e91a';
$icons-image: '\e91b';
$icons-layout: '\e91c';
$icons-like: '\e91d';
$icons-logout: '\e91e';
$icons-message: '\e920';
$icons-minus: '\e921';
$icons-moon: '\e922';
$icons-more: '\e923';
$icons-navigation-menu: '\e924';
$icons-notebook: '\e925';
$icons-plus: '\e92b';
$icons-profile: '\e92c';
$icons-send: '\e92e';
$icons-share: '\e930';
$icons-social-fecebook: '\e932';
$icons-social-link: '\e933';
$icons-social-linkedin: '\e934';
$icons-social-mail: '\e935';
$icons-social-share: '\e938';
$icons-social-telegram: '\e939';
$icons-social-youtube: '\e93b';
$icons-trash: '\e93f';
$icons-users: '\e941';

